[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://github.com/freetype/freetype
[submodule "ext/cgltf"]
	path = ext/cgltf
	url = https://github.com/jkuhlmann/cgltf
